<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменить запись</title>
</head>
<body>
<form action="#" th:action="@{/restaurant-update}" th:object="${restaurant}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID"><br>
    <br/>
    <label for="city">Город</label>
    <input type="text" th:field="*{city}" id="city" placeholder="Город">
    <label for="name">Ресторан</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Наименование">
    <input type="submit" value="Обновить запись">
</form>
</body>
</html>