<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Рестораны</title>
</head>
<body>
    <div th:switch="${restaurants}">
        <h2 th:case="null">Список не найден</h2>
        <div th:case="*">
            <h2>Рестораны</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Город</th>
                        <th>Наименование</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="el : ${restaurants}">
                        <td th:text="${el.id}"></td>
                        <td th:text="${el.city}"></td>
                        <td th:text="${el.name}"></td>
                        <td><a th:href="@{restaurant-update/{id}(id=${el.id})}">Редактировать</a></td>
                        <td><a th:href="@{restaurant-delete/{id}(id=${el.id})}">Удалить</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/restaurant-create">Создать запись</a></p>
    </div>
</body>
</html>